#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

PKG = $(word 2,$(shell dpkg-parsechangelog | grep Source))
VERSION ?= $(shell cat VERSION)
AMQP_URL_DOWNLOAD = "http://pypi.debian.net/kombu/kombu-${VERSION}.tar.gz"

export PYBUILD_NAME=kombu
export PYBUILD_DISABLE=test
export PYBUILD_SYSTEM=distutils

%:
	dh $@ --with python2,python3 --buildsystem=pybuild

override_dh_auto_clean:
	if [ -f setup.py ]; then dh_auto_clean; fi

.PHONY: get-orig-source

get-orig-source:
	@echo "# Downloading..."
	wget -nv -T10 -t3 $(AMQP_URL_DOWNLOAD) -O ../$(PKG)_$(VERSION).orig.tar.gz
